/*
    Tailwind Stuff
*/

@tailwind base;

@tailwind components;

@tailwind utilities;

/*
    Custom Styled Scrollbar
*/

@media (max-device-width: 768px) {
    *::-webkit-scrollbar-thumb,
    *::-webkit-scrollbar,
    *::-webkit-scrollbar-track, {
        @apply hidden;
    }
}

*::-webkit-scrollbar-track {
    @apply bg-black;
}

*::-webkit-scrollbar {
    @apply w-1 bg-black;
}

*::-webkit-scrollbar-thumb {
    @apply rounded-full bg-black hover:bg-gray-900 bg-opacity-80;
}

/*
    Hide select formatting for Chrome and Edge
*/

select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*
    Custom Tooltip
*/

.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    z-index: 100;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/*
    Leaflet CSS 
*/

.leaflet-container {
    @apply font-mono bg-transparent outline-none; 
}
